# Cryptocurrency Closing Price Prediction

File name: CryptoCurrencyAI.ipynb

Author: kogni7

Date: September 2021

## Contents
* 1 Preparation
* 2 Data
* 3 Training
* 4 Prediction and Submission

This notebook uses only the data sets provided by ZINDI. These data sets contain information about a cryptocurrency. These are the only used features in this notebook. The task is to predict the closing price of the cryptocurrency.

The file system for this project is:

* CryptoCurrencyAI (root)
    * CryptoCurrencyAI_SVR.ipynb (this notebook)
    * Data
        * Train.csv
        * Test.csv
        * SampleSubmission.csv
    * Submission
        * 1 - x: Submission directories named by the version number
            * submission.csv

This jupyter notebook runs in Google Colab without special configuration. GPU is disabled.

This notebook uses a Support Vector Regression based approach.

This notebook uses ideas of the Starter Notebook.

## 1 Preparation
### Time

In [1]:
import time
start_time = time.time()

### Libraries and Seed

In [2]:
# Seed, Libraries
SEED = 42

# Math
import numpy as np
print("Numpy Version: " + str(np.__version__))

import random
import os
os.environ['PYTHONHASHSEED'] = str(SEED)

np.random.seed(SEED)

random.seed(SEED)

# CSV
import pandas as pd
print("Pandas Version: " + str(pd.__version__))

# Machine Learning
import sklearn
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVR
print("SciKit-Learn Version: " + str(sklearn.__version__))

from tqdm import tqdm
import gc

Numpy Version: 1.19.5
Pandas Version: 1.1.5
SciKit-Learn Version: 0.22.2.post1

### Parameters

In [3]:
CV = 5

EPSILON = 0.01
TOLERANCE = 1e-5
C = 75
LOSS = 'squared_epsilon_insensitive'
MAX_ITER = 10000

# The Version
VERSION = "SVR_13"

# for use in Google Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
WD = os.getcwd() + "/drive/My Drive/CryptoCurrencyAI"
print(WD)

/content/drive/My Drive/CryptoCurrencyAI

## 2 Data

In [5]:
train_csv = pd.read_csv(WD + "/Data/Train.csv")
train_csv.head()

          id  asset_id  ...  market_cap_global         close
0  ID_322qz6         1  ...       2.818066e+11   9428.279323
1  ID_3239o9         1  ...       2.126897e+11   7967.567267
2  ID_323J9k         1  ...       1.530712e+12  49120.738484
3  ID_323y5P         1  ...                NaN           NaN
4  ID_324kJH         1  ...       3.386925e+11  10384.798216

[5 rows x 49 columns]

We impute NAs with 0 like in the Starter Notebook.

In [6]:
train_csv = train_csv.fillna(0)
train_csv.head()

          id  asset_id  ...  market_cap_global         close
0  ID_322qz6         1  ...       2.818066e+11   9428.279323
1  ID_3239o9         1  ...       2.126897e+11   7967.567267
2  ID_323J9k         1  ...       1.530712e+12  49120.738484
3  ID_323y5P         1  ...       0.000000e+00      0.000000
4  ID_324kJH         1  ...       3.386925e+11  10384.798216

[5 rows x 49 columns]

In [7]:
test_csv = pd.read_csv(WD + "/Data/Test.csv")
test_csv.head()

          id  asset_id  ...  percent_change_24h  market_cap_global
0  ID_323Sn2         1  ...                 NaN                NaN
1  ID_325SNW         1  ...           -0.555698       3.631052e+11
2  ID_325uzE         1  ...            1.689370       1.771075e+11
3  ID_328qCx         1  ...                 NaN                NaN
4  ID_3293uJ         1  ...                 NaN                NaN

[5 rows x 48 columns]

We impute NAs with 0 like in the Starter Notebook.

In [8]:
test_csv = test_csv.fillna(0)
test_csv.head()

          id  asset_id  ...  percent_change_24h  market_cap_global
0  ID_323Sn2         1  ...            0.000000       0.000000e+00
1  ID_325SNW         1  ...           -0.555698       3.631052e+11
2  ID_325uzE         1  ...            1.689370       1.771075e+11
3  ID_328qCx         1  ...            0.000000       0.000000e+00
4  ID_3293uJ         1  ...            0.000000       0.000000e+00

[5 rows x 48 columns]

In [9]:
sample_submission_csv = pd.read_csv(WD + "/Data/SampleSubmission.csv")
sample_submission_csv.head()

          id  close
0  ID_323Sn2      0
1  ID_325SNW      0
2  ID_325uzE      0
3  ID_328qCx      0
4  ID_3293uJ      0

## 3 Training

In [10]:
cv = 1

STATISTICS = {}
STATISTICS['TRAIN_RMSE'] = np.zeros(CV)
STATISTICS['VALIDATION_RMSE'] = np.zeros(CV)

MODELS = []

for train, val in KFold(n_splits=CV, shuffle=True, random_state=SEED).split(train_csv.id):
    print("Run {} of {}.".format(cv, CV))

    # Data
    features = train_csv.drop(columns=['id', 'close'])
    target = train_csv.close.astype(float)

    X_train = np.array(features.iloc[train])
    y_train = np.array(target.iloc[train])

    X_val = np.array(features.iloc[val])
    y_val = np.array(target.iloc[val])

    # Fit
    pipe = make_pipeline(StandardScaler(), LinearSVR(epsilon=EPSILON, tol=TOLERANCE, C=C, loss=LOSS, random_state=SEED, max_iter=MAX_ITER))
    pipe.fit(X_train, y_train)

    # RMSE
    y_pred = pipe.predict(X_train)
    train_rmse = np.sqrt(mean_squared_error(y_train, y_pred))

    y_val_pred = pipe.predict(X_val)
    val_rmse = np.sqrt(mean_squared_error(y_val, y_val_pred))

    STATISTICS['TRAIN_RMSE'][cv-1] = train_rmse
    STATISTICS['VALIDATION_RMSE'][cv-1] = val_rmse

    MODELS.append(pipe)

    del train_rmse, val_rmse, features, target, X_train, y_train, X_val, y_val, pipe, y_pred, y_val_pred
    gc.collect()
    cv += 1

print("Result:")
for cv in range(CV):
    print("TRAINING: {:.1f}; VALIDATION: {:.1f}".format(STATISTICS['TRAIN_RMSE'][cv], STATISTICS['VALIDATION_RMSE'][cv]))
print("\n")
print("TRAINING: {:.1f}; VALIDATION: {:.1f}".format(np.mean(STATISTICS['TRAIN_RMSE']), np.mean(STATISTICS['VALIDATION_RMSE'])))

Run 1 of 5.

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Run 2 of 5.

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Run 3 of 5.

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Run 4 of 5.

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Run 5 of 5.
Result:
TRAINING: 54.2; VALIDATION: 76.4
TRAINING: 61.1; VALIDATION: 61.4
TRAINING: 101.1; VALIDATION: 92.0
TRAINING: 60.6; VALIDATION: 52.6
TRAINING: 61.6; VALIDATION: 55.8


TRAINING: 67.7; VALIDATION: 67.6

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

## 4 Prediction and Submission

In [11]:
predictions = np.zeros(len(sample_submission_csv))

for cv in range(CV):
    # Data
    features = test_csv.drop(columns=['id'])
    X_test = np.array(features)

    # Model
    pipe = MODELS[cv]

    # Prediction
    y_pred = pipe.predict(X_test)
    predictions += y_pred

    del features, X_test, pipe, y_pred
    gc.collect()

sample_submission_csv['close'] = predictions / CV

os.mkdir(WD + '/Submission/' + str(VERSION))
sample_submission_csv.to_csv(WD + '/Submission/' + str(VERSION) + '/submission.csv', index=False)

In [12]:
sample_submission_csv

             id         close
0     ID_323Sn2     14.069649
1     ID_325SNW  11342.195215
2     ID_325uzE   6311.218819
3     ID_328qCx     11.473426
4     ID_3293uJ     13.432424
...         ...           ...
6217  ID_zufSPk   8263.159983
6218  ID_zuz9yf  10849.906365
6219  ID_zvrMSX     11.991896
6220  ID_zy9Cfv     14.079326
6221  ID_zyAFd7   7071.988192

[6222 rows x 2 columns]

In [13]:
drive.flush_and_unmount()

In [14]:
end_time = time.time()
print("Runtime of the Notebook: {} min".format(np.round((end_time - start_time) / 60, 2)))

Runtime of the Notebook: 2.4 min